<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd      
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Database Configuration -->
	<import resource="config/spring/DataSource.xml" />
	<import resource="config/spring/HibernateSessionFactory.xml" />

	<!-- Cette ligne permet d'indiquer à Spring la liste des packages à scanner 
		de manière à retrouver les différents beans annotés avec @Controller, @Service, 
		@Repository -->
	<context:component-scan base-package="dao, service, action" />

	<!-- Ce bean permet d'informer Spring que les dépendances seront gérées 
		grâce à l'annotation @Autowired -->
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<!-- Le tag tx:annotation-driven permet de laisser Spring gérer les transactions 
		grâce au bean transactionManager déclaré ci-après lorsqu'il rencontre @Transactional -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="dataSource" ref="dataSource" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven />

</beans>